/* Styling for the header */
.header {
  background-color: #0f2e4d; 
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
}

.bg-primary {
  background-color: #356392
}

/* Alternatively, if you want to use CSS variables for theming */
:root {
  --custom-primary-color: #25303a; /* Define your primary color */
}

.bg-primary {
  background-color: var(--custom-primary-color) !important;
}

/* Styling for the search and filter area */
.search-filter-wrapper {
  /* padding: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #416e9c; 
}

.search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-box button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Styling for the search box and filter */
.search-box button {
  /* padding: 0.5rem 1rem; */
  font-size: 1rem;
  color: rgb(116, 25, 25); 
  background-color: #356392 !important; 
  border-color: #356392 !important; 
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Styling for the filter */
.filter-button {
  /* padding: 0.5rem 1rem; */
  font-size: 1rem;
  color: rgb(184, 51, 51); 
  background-color: #356392 !important; 
  border-color: #356392 !important; 
  border-radius: 0.25rem;
  cursor: pointer;
}


/* Styling for the book cards */
.book-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Responsive grid layout */
  gap: 1rem;
  padding: 1rem;
}

.book-card {
  border: 1px solid #b15b5b;
  border-radius: 0.25rem;
  overflow: hidden; /* Ensure the image doesn't overflow the card boundaries */
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.book-card img {
  width: 100%;
  height: auto;
  display: block; /* Remove any extra space below the image */
}

.book-card .card-body {
  padding: 0.5rem;
}

.book-card .card-body .card-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Non-wrapping text with an ellipsis */
}

.book-card .card-body .card-author {
  font-size: 0.9rem;
  color: #666;
}

/* Style adjustments for mobile view */
@media (max-width: 576px) {
  .search-filter-wrapper {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}
