header {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_1280.jpg); 
      background-size: cover; 
      background-repeat: no-repeat; 
      background-attachment:fixed;
      height: 30rem;
      margin-top: -8px;
      padding: 0;


}