.taskItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: left; /* Align text to the left */
  }
  
  .taskCounter {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .taskText, .taskInput {
    flex-grow: 1;
    margin-right: 10px;
  }
  