body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp');
    background-size: cover;
    background-position: center;
}

#app {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to make text more readable */
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#loading,
#error {
    margin-top: 20px;
    color: #555;
}

#error {
    color: #ff0000;
}
