/* main {
           margin-left: 3vw; 
           margin-top: 3vh;
    } */


/* TEXT  */

p {
    margin-left: 3vw; 
}

mark {
    background-color: yellow;
}


/* H1/H2/H3 */

h1, h2, h3 {
    margin-left: 3vw;
}

div.h3 {
    margin-left: 5vw; 
    margin-top: 0;
}

.h2-m {
    text-align: center;
}

/* ______MEDIA______ */

/* IMAGE */

.img {
   
    display: inline-block;
    border: 17px solid orangered;
    margin-left: 12%;
    margin-right: 12%;   
   


}