.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.todo-form {
  margin-bottom: 30px;
}

.todo-input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

.add-btn,
.toggle-btn,
.remove-btn {
  padding: 10px 15px;
  border: none;
  background-color: #154374;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 3px;
  margin-left: 3px;
}

.add-btn:hover,
.toggle-btn:hover,
.remove-btn:hover {
  background-color: #0056b3;
}

.todo-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
}

.todo-item {
  background-color: rgb(239, 239, 239);
  border: 1px solid #0f263d;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-text {
  flex-grow: 1;
}

.completed {
  text-decoration: line-through;
}


