@font-face {
  font-family: 'SEGA';
  src: url('./sega.ttf') format('truetype');
  font-weight: normal;
  font-style: initial;
}

body {
  font-family: 'SEGA', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: purple;
  background-image: url('https://raw.githubusercontent.com/devtlv/studentsGitHub/master/JS/Week%204/Day5/Mini%20Projects/Mini%20Project%201%20(Robots)/circuit-pattern.png');
  background-size: 25%;
  background-repeat: repeat;
  background-attachment: fixed;
}

.navbar {
  background: linear-gradient(rgba(6, 193, 0, 0.7), rgba(6, 193, 0, 0.7)),
    url('https://img.freepik.com/free-vector/set-of-equipment-needed-for-science-experiment_1308-102432.jpg?w=996&t=st=1703779033~exp=1703779633~hmac=55c867fe72762e1572f19722188a78231a30c72292f118cc387e1134728cb8fa');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar-brand {
  font-family: 'SEGA', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #fff;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  text-align: right;
  padding: 40px;
  width: 100% 
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

#searchInput {
  font-family: 'New Roman', sans-serif;
  font-size: 18px;
  width: 100%; !important; /* Процентная ширина */
  box-sizing: border-box; /* Учитывать padding внутри элемента */
  padding: 10px;
  margin: 0; /* Сбросить внешний отступ */
}

.card {
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'SEGA', 'Arial', sans-serif;
  box-sizing: border-box;
  width: calc(33.33% - 20px);
  font-size: 14px;
  max-width: 300px;
  background-color: rgba(0, 255, 255, 0.8);
  background-image: url('https://raw.githubusercontent.com/devtlv/studentsGitHub/master/JS/Week%204/Day5/Mini%20Projects/Mini%20Project%201%20(Robots)/card-pattern.png'), url('https://raw.githubusercontent.com/devtlv/studentsGitHub/master/JS/Week%204/Day5/Mini%20Projects/Mini%20Project%201%20(Robots)/card-pattern.png');
  background-size: auto, auto;
  background-repeat: repeat, repeat;
  background-position: 0 0, 50px 50px;
}

.card img {
  border-radius: 50%;
  max-width: 100%;
  border: 5px solid #333;
  background-color: #333;
}

@media (max-width: 900px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .card {
    width: calc(100% - 20px);
  }
}
