body {
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* New CSS for checkbox labels with specific class */
.checkbox-label {
  display: block;
  margin-left: 20px; /* Indentation for checkbox labels */
  margin-bottom: 10px; /* Space between each checkbox label */
}

.checkbox-group {
  margin-bottom: 15px;
}

.checkbox-group input {
  margin-right: 5px;
}

/* Smaller submit button */
.submit-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px; /* Smaller padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; /* Smaller font size */
  margin-top: 10px; /* Optional: Adds a little space above the button */
}

.submit-button:hover {
  background-color: #0056b3;
}

.gender-selection > div {
  margin-bottom: 10px;
}
