body {
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5dc; /* color for the form container */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.checkbox-label {
  display: block;
  margin-left: 20px; /* indentation  */
  margin-bottom: 10px; /* space between each checkbox  */
}

.checkbox-group {
  margin-bottom: 15px;
}

.checkbox-group input {
  margin-right: 5px;
}

.submit-button {
  background-color: rgb(135, 163, 139);
  color: rgb(18, 34, 3);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  width: auto;
  display: inline-block;
  margin-right: auto;
}

.submit-button:hover {
  background-color: #00b365; /* color */
}

.gender-selection > div {
  margin-bottom: 10px;
}

.entered-information {
  background-color: #013220; /* color for the entered information section */
  color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
